<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=986&q=80);">
  <div class="container">
    <h1>Cocktails#home - <strong>glouglou</strong> !!</h1>
    <p>Enjoy your drink</p>
      <%= link_to "Cocktails List...", cocktails_index_path, class: "btn", class: "btn btn-flat" %>
  </div>
</div>
